@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/*
html5doctor.com Reset Stylesheet
v1.6.1
Last Updated: 2010-09-17
Author: Richard Clark - http://richclarkdesign.com
Twitter: @rich_clark
*/
html, body, div, span, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
abbr, address, cite, code,
del, dfn, em, img, ins, kbd, q, samp,
small, strong, sub, sup, var,
b, i,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, figcaption, figure,
footer, header, hgroup, menu, nav, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  outline: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

body {
  line-height: 1;
}

article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

nav ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

/* change colours to suit your needs */
ins {
  background-color: #ff9;
  color: #000;
  text-decoration: none;
}

/* change colours to suit your needs */
mark {
  background-color: #ff9;
  color: #000;
  font-style: italic;
  font-weight: bold;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted;
  cursor: help;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

/* change border colour to suit your needs */
hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #cccccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

/*
	HTML5 Reset :: style.css
	----------------------------------------------------------
	We have learned much from/been inspired by/taken code where offered from:

	Eric Meyer					:: http://meyerweb.com
	HTML5 Doctor				:: http://html5doctor.com
	and the HTML5 Boilerplate	:: http://html5boilerplate.com

-------------------------------------------------------------------------------*/
/* Let's default this puppy out
-------------------------------------------------------------------------------*/
html, body, body div, span, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, abbr, address, cite, code, del, dfn, em, img, ins, kbd, q, samp, small, strong, sub, sup, var, b, i, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, figure, footer, header, menu, nav, section, time, mark, audio, video, details, summary {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font-weight: normal;
  vertical-align: baseline;
  background: transparent;
}

article, aside, figure, footer, header, nav, section, details, summary {
  display: block;
}

/* Handle box-sizing while better addressing child elements:
   http://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
html {
  box-sizing: border-box;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

/* consider resetting the default cursor: https://gist.github.com/murtaugh/5247154 */
/* Responsive images and other embedded objects */
/* if you don't have full control over `img` tags (if you have to overcome attributes), consider adding height: auto */
img,
object,
embed {
  max-width: 100%;
}

/*
   Note: keeping IMG here will cause problems if you're using foreground images as sprites.
	In fact, it *will* cause problems with Google Maps' controls at small size.
	If this is the case for you, try uncommenting the following:

#map img {
		max-width: none;
}
*/
/* force a vertical scrollbar to prevent a jumpy page */
html {
  overflow-y: scroll;
}

/* we use a lot of ULs that aren't bulleted.
	you'll have to restore the bullets within content,
	which is fine because they're probably customized anyway */
ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before,
blockquote:after,
q:before,
q:after {
  content: '';
  content: none;
}

a {
  margin: 0;
  padding: 0;
  font-size: 100%;
  vertical-align: baseline;
  background: transparent;
}

del {
  text-decoration: line-through;
}

abbr[title], dfn[title] {
  border-bottom: 1px dotted #000;
  cursor: help;
}

/* tables still need cellspacing="0" in the markup */
table {
  border-collapse: separate;
  border-spacing: 0;
}

th {
  font-weight: bold;
  vertical-align: bottom;
}

td {
  font-weight: normal;
  vertical-align: top;
}

hr {
  display: block;
  height: 1px;
  border: 0;
  border-top: 1px solid #ccc;
  margin: 1em 0;
  padding: 0;
}

input, select {
  vertical-align: middle;
}

pre {
  white-space: pre;
  /* CSS2 */
  white-space: pre-wrap;
  /* CSS 2.1 */
  white-space: pre-line;
  /* CSS 3 (and 2.1 as well, actually) */
  word-wrap: break-word;
  /* IE */
}

input[type="radio"] {
  vertical-align: text-bottom;
}

input[type="checkbox"] {
  vertical-align: bottom;
}

.ie7 input[type="checkbox"] {
  vertical-align: baseline;
}

.ie6 input {
  vertical-align: text-bottom;
}

select, input, textarea {
  font: 99% sans-serif;
}

table {
  font-size: inherit;
  font: 100%;
}

small {
  font-size: 85%;
}

strong {
  font-weight: bold;
}

td, td img {
  vertical-align: top;
}

/* Make sure sup and sub don't mess with your line-heights http://gist.github.com/413930 */
sub, sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* standardize any monospaced elements */
pre, code, kbd, samp {
  font-family: monospace, sans-serif;
}

/* hand cursor on clickable elements */
.clickable,
label,
input[type=button],
input[type=submit],
input[type=file],
button {
  cursor: pointer;
}

/* Webkit browsers add a 2px margin outside the chrome of form elements */
button, input, select, textarea {
  margin: 0;
}

/* make buttons play nice in IE */
button,
input[type=button] {
  width: auto;
  overflow: visible;
}

/* scale images in IE7 more attractively */
.ie7 img {
  -ms-interpolation-mode: bicubic;
}

/* prevent BG image flicker upon hover
   (commented out as usage is rare, and the filter syntax messes with some pre-processors)
.ie6 html {filter: expression(document.execCommand("BackgroundImageCache", false, true));}
*/
/* let's clear some floats */
.clearfix:after {
  content: " ";
  display: block;
  clear: both;
}

html {
  box-sizing: content-box;
}

body {
  margin: 8px;
  line-height: normal;
}

p {
  margin: 1em 0;
}

blockquote,
figure {
  margin: 1em 40px;
}

q {
  quotes: "“" "”" "‘" "’";
}

q:before {
  content: open-quote;
}

q:after {
  content: close-quote;
}

hr {
  border: 1px inset;
  box-sizing: border-box;
  margin: 0.5em autl;
}

h1 {
  font-size: 2em;
  font-weight: bold;
  margin: 0.67em 0;
}

h2 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

h3 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

h4 {
  font-size: 1.00em;
  font-weight: bold;
  margin: 1.33em 0;
}

h5 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

h6 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

:-moz-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1 {
  font-size: 1.00em;
  font-weight: bold;
  margin: 1.33em 0;
}

:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section)
:-moz-any(article, aside, nav, section) h1 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 1.00em;
  font-weight: bold;
  margin: 1.33em 0;
}

:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section)
:-webkit-any(article, aside, nav, section) h1 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

:matches(article, aside, nav, section) h1 {
  font-size: 1.5em;
  font-weight: bold;
  margin: 0.83em 0;
}

:matches(article, aside, nav, section)
:matches(article, aside, nav, section) h1 {
  font-size: 1.17em;
  font-weight: bold;
  margin: 1em 0;
}

:matches(article, aside, nav, section)
:matches(article, aside, nav, section)
:matches(article, aside, nav, section) h1 {
  font-size: 1.00em;
  font-weight: bold;
  margin: 1.33em 0;
}

:matches(article, aside, nav, section)
:matches(article, aside, nav, section)
:matches(article, aside, nav, section)
:matches(article, aside, nav, section) h1 {
  font-size: 0.83em;
  font-weight: bold;
  margin: 1.67em 0;
}

:matches(article, aside, nav, section)
:matches(article, aside, nav, section)
:matches(article, aside, nav, section)
:matches(article, aside, nav, section)
:matches(article, aside, nav, section) h1 {
  font-size: 0.67em;
  font-weight: bold;
  margin: 2.33em 0;
}

table {
  border-collapse: separate;
  border-spacing: 2px;
  border-color: gray;
}

thead,
tbody,
tfoot,
tr {
  border-color: inherit;
  vertical-align: middle;
}

td, th {
  padding: 1px;
  vertical-align: inherit;
}

th {
  font-weight: bold;
}

caption {
  text-align: center;
}

ul, menu {
  list-style-type: disc;
  margin: 1em 0;
  padding: 0 0 0 30pt;
  -moz-padding-start: 40px;
       padding-inline-start: 40px;
  -webkit-padding-start: 40px;
}

ol {
  list-style-type: decimal;
  margin: 1em 0;
  padding: 0 0 0 30pt;
  -moz-padding-start: 40px;
       padding-inline-start: 40px;
  -webkit-padding-start: 40px;
}

ul ul, ol ul {
  list-style-type: circle;
}

ul ul ul, ul ol ul, ol ul ul, ol ol ul {
  list-style-type: square;
}

dd {
  margin: 0 0 0 40px;
}

dl {
  margin: 1em 0;
}

ul ul, ul ol, ul menu, ul dl, ol ul, ol ol, ol menu, ol dl, menu ul, menu ol, menu menu, menu dl, dl ul, dl ol, dl menu, dl dl {
  margin: 0;
}

legend {
  padding: 0 2px;
}

fieldset {
  border-style: groove;
  border-width: 2px;
  border: 2px groove ThreeDFace;
  margin: 0 2px;
  padding: 0 2px 3px;
  -webkit-padding-before: 0.35em;
  -webkit-padding-start: 0.75em;
  -webkit-padding-end: 0.75em;
  -webkit-padding-after: 0.625em;
}

ins {
  background-color: transparent;
  font-weight: inherit;
  text-decoration: underline;
}

b, strong {
  font-weight: bold;
}

i, cite, em, var, address, dfn {
  font-style: italic;
  font-weight: inherit;
}

abbr[title], dfn[title] {
  border-bottom: 0;
  cursor: default;
  font-weight: inherit;
}

tt, code, kbd, samp {
  font-family: monospace;
  font-weight: inherit;
}

pre {
  font-family: monospace;
  margin: 1em 0;
  white-space: pre;
}

mark {
  background-color: yellow;
  color: black;
  font-style: normal;
  font-weight: inherit;
}

big {
  font-size: larger;
  font-weight: inherit;
}

small {
  font-size: smaller;
  font-weight: inherit;
}

sub, sup {
  font-weight: inherit;
  line-height: inherit;
  position: static;
}

sub {
  font-size: smaller;
  bottom: 0;
  vertical-align: sub;
}

sup {
  font-size: smaller;
  top: 0;
  vertical-align: super;
}

ruby > rt {
  font-size: 50%;
}

iframe {
  border: 2px inset;
}

.editor-style {
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  word-wrap: break-word;
}

.editor-style * {
  box-sizing: border-box;
}

.editor-style img {
  background-color: #fff;
  border-style: none;
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
}

.editor-style .alignleft {
  float: left;
  margin: 0;
  margin-top: 0.3em;
  margin-right: 1.6em;
  margin-bottom: 1.6em;
}

.editor-style .alignright {
  float: right;
  margin: 0;
  margin-top: 0.3em;
  margin-left: 1.6em;
  margin-bottom: 1.6em;
}

.editor-style .aligncenter {
  clear: both;
  display: block;
  margin: 0 auto;
  margin-bottom: 1.6em;
}

.editor-style svg:not(:root) {
  overflow: hidden;
}

.editor-style button:-moz-focusring,
.editor-style [type="button"]:-moz-focusring,
.editor-style [type="reset"]:-moz-focusring,
.editor-style [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.editor-style input {
  font: inherit;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 13px;
  line-height: 1.4;
  margin: 0;
  overflow: visible;
}

.editor-style [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.editor-style ul,
.editor-style ol,
.editor-style dl {
  margin-top: 0;
  margin-bottom: 16px;
}

.editor-style ul,
.editor-style ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.editor-style ul ol,
.editor-style ol ol {
  list-style-type: lower-roman;
}

.editor-style ul ul,
.editor-style ul ol,
.editor-style ol ul,
.editor-style ol ol {
  margin-bottom: 0;
  margin-top: 0;
}

.editor-style ul ul ol,
.editor-style ul ol ol,
.editor-style ol ul ol,
.editor-style ol ol ol {
  list-style-type: lower-alpha;
}

.editor-style li + li {
  margin-top: 0.25em;
}

.editor-style li > p {
  margin-top: 16px;
}

.editor-style dl {
  padding: 0;
}

.editor-style dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  margin-top: 16px;
  padding: 0;
}

.editor-style dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.editor-style dd {
  margin-left: 0;
}

.editor-style table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  overflow: auto;
  width: 100%;
  word-break: keep-all;
}

.editor-style table th {
  font-weight: bold;
}

.editor-style table th,
.editor-style table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

.editor-style table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.editor-style table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.editor-style h1,
.editor-style h2,
.editor-style h3,
.editor-style h4,
.editor-style h5,
.editor-style h6 {
  color: inherit;
  font-family: inherit;
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.editor-style h1 tt,
.editor-style h2 tt,
.editor-style h3 tt,
.editor-style h4 tt,
.editor-style h5 tt,
.editor-style h6 tt {
  font-size: inherit;
}

.editor-style h1 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
  padding-bottom: 0.3em;
}

.editor-style h2 {
  border-bottom: 1px solid #eee;
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.editor-style h3 {
  font-size: 1.25em;
}

.editor-style h4 {
  font-size: 1em;
}

.editor-style h5 {
  font-size: 0.875em;
}

.editor-style h6 {
  color: #777;
  font-size: 0.875em;
}

.editor-style p {
  margin-top: 0;
  margin-bottom: 16px;
}

.editor-style a {
  background-color: transparent;
  color: #4078c0;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

.editor-style a:active, .editor-style a:hover {
  color: #4078c0;
  outline-width: 0;
  text-decoration: underline;
}

.editor-style a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.editor-style blockquote {
  border-left: #ddd solid 0.25em;
  color: #777;
  margin: 0 0 16px;
  padding: 0 16px;
}

.editor-style blockquote > :first-child {
  margin-top: 0;
}

.editor-style blockquote > :last-child {
  margin-bottom: 0;
}

.editor-style strong {
  font-weight: inherit;
  font-weight: bolder;
}

.editor-style code,
.editor-style kbd,
.editor-style pre,
.editor-style samp,
.editor-style tt {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
}

.editor-style code,
.editor-style tt {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  color: inherit;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0;
}

.editor-style code:before, .editor-style code:after,
.editor-style tt:before,
.editor-style tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

.editor-style code br,
.editor-style tt br {
  display: none;
}

.editor-style del code {
  text-decoration: inherit;
}

.editor-style kbd {
  background-color: #fcfcfc;
  border: 1px solid #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
  color: #555;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.editor-style pre {
  background-color: #f7f7f7;
  border-radius: 3px;
  color: inherit;
  font-size: 85%;
  line-height: 1.45;
  margin-top: 0;
  margin-bottom: 16px;
  overflow: auto;
  padding: 16px;
  word-wrap: normal;
}

.editor-style pre > code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.editor-style pre code,
.editor-style pre tt {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: initial;
  overflow: initial;
  padding: 0;
  word-wrap: normal;
}

.editor-style pre code:before, .editor-style pre code:after,
.editor-style pre tt:before,
.editor-style pre tt:after {
  content: normal;
}

.editor-style .highlight {
  margin-bottom: 16px;
}

.editor-style .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.editor-style hr {
  background-color: #e7e7e7;
  border: 0;
  box-sizing: content-box;
  height: 0.25em;
  margin: 24px 0;
  overflow: hidden;
  padding: 0;
}

.editor-style hr:before, .editor-style hr:after {
  display: table;
  content: "";
}

.editor-style hr:after {
  clear: both;
}

.editor-style {
  margin: auto;
  max-width: 980px;
  min-width: 200px;
}
