/* http://meyerweb.com/eric/tools/css/reset/
   v2.0 | 20110126
   License: none (public domain)
*/
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: '';
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

.editor-style {
  -webkit-text-size-adjust: 100%;
      -ms-text-size-adjust: 100%;
          text-size-adjust: 100%;
  color: #333;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  font-size: 16px;
  line-height: 1.6;
  text-size-adjust: 100%;
  word-wrap: break-word;
}

.editor-style * {
  box-sizing: border-box;
}

.editor-style img {
  background-color: #fff;
  border-style: none;
  box-sizing: content-box;
  max-width: 100%;
  height: auto;
}

.editor-style img[align="right"] {
  padding-left: 20px;
}

.editor-style img[align="left"] {
  padding-right: 20px;
}

.editor-style .alignleft {
  float: left;
  margin: 0.375em 1.75em 1.75em 0;
}

.editor-style .alignright {
  float: right;
  margin: 0.375em 0 1.75em 1.75em;
}

.editor-style svg:not(:root) {
  overflow: hidden;
}

.editor-style figure {
  max-width: 100%;
}

.editor-style button:-moz-focusring,
.editor-style [type="button"]:-moz-focusring,
.editor-style [type="reset"]:-moz-focusring,
.editor-style [type="submit"]:-moz-focusring {
  outline: 1px dotted ButtonText;
}

.editor-style input {
  font: inherit;
  font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
  margin: 0;
  overflow: visible;
}

.editor-style [type="checkbox"] {
  box-sizing: border-box;
  padding: 0;
}

.editor-style ul,
.editor-style ol,
.editor-style dl {
  margin-top: 0;
  margin-bottom: 16px;
}

.editor-style ul,
.editor-style ol {
  margin-top: 0;
  margin-bottom: 0;
  padding-left: 2em;
}

.editor-style ul ol,
.editor-style ol ol {
  list-style-type: lower-roman;
}

.editor-style ul ul,
.editor-style ul ol,
.editor-style ol ul,
.editor-style ol ol {
  margin-bottom: 0;
  margin-top: 0;
}

.editor-style ul ul ol,
.editor-style ul ol ol,
.editor-style ol ul ol,
.editor-style ol ol ol {
  list-style-type: lower-alpha;
}

.editor-style li + li {
  margin-top: 0.25em;
}

.editor-style li > p {
  margin-top: 16px;
}

.editor-style dl {
  padding: 0;
}

.editor-style dl dt {
  font-size: 1em;
  font-style: italic;
  font-weight: bold;
  margin-top: 16px;
  padding: 0;
}

.editor-style dl dd {
  margin-bottom: 16px;
  padding: 0 16px;
}

.editor-style dd {
  margin-left: 0;
}

.editor-style table {
  border-collapse: collapse;
  border-spacing: 0;
  display: block;
  margin-top: 0;
  margin-bottom: 16px;
  overflow: auto;
  width: 100%;
  word-break: keep-all;
}

.editor-style table th {
  font-weight: bold;
}

.editor-style table th,
.editor-style table td {
  border: 1px solid #ddd;
  padding: 6px 13px;
}

.editor-style table tr {
  background-color: #fff;
  border-top: 1px solid #ccc;
}

.editor-style table tr:nth-child(2n) {
  background-color: #f8f8f8;
}

.editor-style h1,
.editor-style h2,
.editor-style h3,
.editor-style h4,
.editor-style h5,
.editor-style h6 {
  font-weight: 600;
  line-height: 1.25;
  margin-bottom: 16px;
  margin-top: 24px;
}

.editor-style h1 tt,
.editor-style h2 tt,
.editor-style h3 tt,
.editor-style h4 tt,
.editor-style h5 tt,
.editor-style h6 tt {
  font-size: inherit;
}

.editor-style h1 {
  border-bottom: 1px solid #eee;
  font-size: 2em;
  margin: 0.67em 0;
  padding-bottom: 0.3em;
}

.editor-style h2 {
  border-bottom: 1px solid #eee;
  font-size: 1.5em;
  padding-bottom: 0.3em;
}

.editor-style h3 {
  font-size: 1.25em;
}

.editor-style h4 {
  font-size: 1em;
}

.editor-style h5 {
  font-size: 0.875em;
}

.editor-style h6 {
  color: #777;
  font-size: 0.85em;
}

.editor-style p {
  margin-top: 0;
  margin-bottom: 16px;
}

.editor-style a {
  background-color: transparent;
  color: #4078c0;
  text-decoration: none;
  -webkit-text-decoration-skip: objects;
}

.editor-style a:active, .editor-style a:hover {
  outline-width: 0;
  text-decoration: underline;
}

.editor-style a:not([href]) {
  color: inherit;
  text-decoration: none;
}

.editor-style blockquote {
  border-left: 0.25em solid #ddd;
  color: #777;
  margin: 0 0 16px;
  padding: 0 1em;
}

.editor-style blockquote > :first-child {
  margin-top: 0;
}

.editor-style blockquote > :last-child {
  margin-bottom: 0;
}

.editor-style strong {
  font-weight: inherit;
  font-weight: bolder;
}

.editor-style code,
.editor-style kbd,
.editor-style pre,
.editor-style samp,
.editor-style tt {
  font-family: Consolas, "Liberation Mono", Menlo, Courier, monospace;
  font-size: 1em;
}

.editor-style code,
.editor-style tt {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 3px;
  font-size: 85%;
  margin: 0;
  padding: 0.2em 0;
}

.editor-style code:before, .editor-style code:after,
.editor-style tt:before,
.editor-style tt:after {
  content: "\00a0";
  letter-spacing: -0.2em;
}

.editor-style code br,
.editor-style tt br {
  display: none;
}

.editor-style del code {
  text-decoration: inherit;
}

.editor-style kbd {
  background-color: #fcfcfc;
  border: solid 1px #ccc;
  border-bottom-color: #bbb;
  border-radius: 3px;
  box-shadow: inset 0 -1px 0 #bbb;
  color: #555;
  display: inline-block;
  font-size: 11px;
  line-height: 10px;
  padding: 3px 5px;
  vertical-align: middle;
}

.editor-style pre {
  background-color: #f7f7f7;
  border-radius: 3px;
  font-size: 85%;
  line-height: 1.45;
  margin-top: 0;
  margin-bottom: 16px;
  overflow: auto;
  padding: 16px;
  word-wrap: normal;
}

.editor-style pre > code {
  background: transparent;
  border: 0;
  font-size: 100%;
  margin: 0;
  padding: 0;
  white-space: pre;
  word-break: normal;
}

.editor-style pre code,
.editor-style pre tt {
  background-color: transparent;
  border: 0;
  display: inline;
  line-height: inherit;
  margin: 0;
  max-width: initial;
  overflow: initial;
  padding: 0;
  word-wrap: normal;
}

.editor-style pre code:before, .editor-style pre code:after,
.editor-style pre tt:before,
.editor-style pre tt:after {
  content: normal;
}

.editor-style .highlight {
  margin-bottom: 16px;
}

.editor-style .highlight pre {
  margin-bottom: 0;
  word-break: normal;
}

.editor-style hr {
  background-color: #e7e7e7;
  border: 0;
  box-sizing: content-box;
  height: 0.25em;
  margin: 24px 0;
  overflow: hidden;
  padding: 0;
}

.editor-style hr:before, .editor-style hr:after {
  display: table;
  content: "";
}

.editor-style hr:after {
  clear: both;
}

.editor-style {
  margin: auto;
  max-width: 980px;
  min-width: 200px;
}
