@charset "UTF-8";
@import "reset/meyer";
@import "reset/html5doctor";
@import "reset/html5";
@import "unreset";
@import "github";

.editor-style {
	margin: auto;
	max-width: 980px;
	min-width: 200px;
}
