<h1>WordPress Theme Test</h1>

<h2>Headings</h2>

<h1>Header one</h1>
<h2>Header two</h2>
<h3>Header three</h3>
<h4>Header four</h4>
<h5>Header five</h5>
<h6>Header six</h6>

<h2>Blockquotes</h2>

<p>Single line blockquote:</p>
<blockquote><p>Stay hungry. Stay foolish.</p></blockquote>
<p>Multi line blockquote with a cite reference:</p>
<blockquote><p>People think focus means saying yes to the thing you’ve got to focus on. But that’s not what it means at all. It means saying no to the hundred other good ideas that there are. You have to pick carefully. I’m actually as proud of the things we haven’t done as the things I have done. Innovation is saying no to 1,000 things. </p></blockquote>
<p><cite>Steve Jobs</cite> &ndash; Apple Worldwide Developers’ Conference, 1997</p>

<h2>Tables</h2>

<table>
	<thead>
		<tr>
			<th>Employee</th>
			<th>Salary</th>
			<th></th>
		</tr>
	</thead>
	<tbody>
		<tr>
			<th><a href="http://example.org/">John Doe</a></th>
			<td>$1</td>
			<td>Because that’s all Steve Jobs needed for a salary.</td>
		</tr>
		<tr>
			<th><a href="http://example.org/">Jane Doe</a></th>
			<td>$100K</td>
			<td>For all the blogging she does.</td>
		</tr>
		<tr>
			<th><a href="http://example.org/">Fred Bloggs</a></th>
			<td>$100M</td>
			<td>Pictures are worth a thousand words, right? So Jane x 1,000.</td>
		</tr>
		<tr>
			<th><a href="http://example.org/">Jane Bloggs</a></th>
			<td>$100B</td>
			<td>With hair like that?! Enough said…</td>
		</tr>
	</tbody>
</table>

<h2>Definition Lists</h2>

<dl>
	<dt>Definition List Title</dt>
	<dd>Definition list division.</dd>
	<dt>Startup</dt>
	<dd>A startup company or startup is a company or temporary organization designed to search for a repeatable and scalable business model.</dd>
	<dt>#dowork</dt>
	<dd>Coined by Rob Dyrdek and his personal body guard Christopher “Big Black” Boykins, “Do Work” works as a self motivator, to motivating your friends.</dd>
	<dt>Do It Live</dt>
	<dd>I’ll let Bill O’Reilly will <a href="https://www.youtube.com/watch?v=O_HyZ5aW76c" title="We'll Do It Live">explain</a> this one.</dd>
</dl>

<h2>Unordered Lists (Nested)</h2>

<ul>
	<li>List item one
		<ul>
			<li>List item one
				<ul>
					<li>List item one</li>
					<li>List item two</li>
					<li>List item three</li>
					<li>List item four</li>
				</ul>
			</li>
			<li>List item two</li>
			<li>List item three</li>
			<li>List item four</li>
		</ul>
	</li>
	<li>List item two</li>
	<li>List item three</li>
	<li>List item four</li>
</ul>

<h2>Ordered List (Nested)</h2>

<ol>
	<li>List item one
		<ol>
			<li>List item one
				<ol>
					<li>List item one</li>
					<li>List item two</li>
					<li>List item three</li>
					<li>List item four</li>
				</ol>
			</li>
			<li>List item two</li>
			<li>List item three</li>
			<li>List item four</li>
		</ol>
	</li>
	<li>List item two</li>
	<li>List item three</li>
	<li>List item four</li>
</ol>

<h2>HTML Tags</h2>

<p>These supported tags come from the WordPress.com code <a href="http://en.support.wordpress.com/code/" title="Code">FAQ</a>.</p>

<p><strong>Address Tag</strong></p>

<address>1 Infinite Loop<br>
Cupertino, CA 95014<br>
United States</address>

<p><strong>Anchor Tag (aka. Link)</strong></p>

<p>This is an example of a <a href="http://apple.com" title="Apple">link</a>.</p>

<p><strong>Abbreviation Tag</strong></p>

<p>The abbreviation <abbr title="Seriously">srsly</abbr> stands for “seriously”.</p>

<p><strong>Acronym Tag (<em>deprecated in HTML5</em>)</strong></p>

<p>The acronym <acronym title="For The Win">ftw</acronym> stands for “for the win”.</p>

<p><strong>Big Tag (<em>deprecated in HTML5</em>)</strong></p>

<p>These tests are a <big>big</big> deal, but this tag is no longer supported in HTML5.</p>

<p><strong>Cite Tag</strong></p>

<p>“Code is poetry.” &mdash;<cite>Automattic</cite></p>

<p><strong>Code Tag</strong></p>

<p>You will learn later on in these tests that <code>word-wrap: break-word;</code> will be your best friend.</p>

<p><strong>Delete Tag</strong></p>

<p>This tag will let you <del>strikeout text</del>, but this tag is no longer supported in HTML5 (use the <code>&lt;strike&gt;</code> instead).</p>

<p><strong>Emphasize Tag</strong></p>

<p>The emphasize tag should <em>italicize</em> text.</p>

<p><strong>Insert Tag</strong></p>

<p>This tag should denote <ins>inserted</ins> text.</p>

<p><strong>Keyboard Tag</strong></p>

<p>This scarcely known tag emulates <kbd>keyboard text</kbd>, which is usually styled like the <code>&lt;code&gt;</code> tag.</p>

<p><strong>Preformatted Tag</strong></p>

<p>This tag styles large blocks of code.</p>

<pre>.post-title {
  margin: 0 0 5px;
  font-weight: bold;
  font-size: 38px;
  line-height: 1.2;
  and here's a line of some really, really, really, really long text, just to see how the PRE tag handles it and to find out how it overflows;
}</pre>

<p><strong>Quote Tag</strong></p>

<p><q>Developers, developers, developers…</q> &ndash;Steve Ballmer</p>

<p><strong>Strike Tag (<em>deprecated in HTML5</em>)</strong></p>

<p>This tag shows <span style="text-decoration:line-through;">strike-through text</span></p>

<p><strong>Strong Tag</strong></p>

<p>This tag shows <strong>bold<strong> text.</strong></strong></p>

<p><strong>Subscript Tag</strong></p>

<p>Getting our science styling on with H<sub>2</sub>O, which should push the “2” down.</p>

<p><strong>Superscript Tag</strong></p>

<p>Still sticking with science and Isaac Newton’s E = MC<sup>2</sup>, which should lift the 2 up.</p>

<p><strong>Teletype Tag (<em>deprecated in HTML5</em>)</strong></p>

<p>This rarely used tag emulates <tt>teletype text</tt>, which is usually styled like the <code>&lt;code&gt;</code> tag.</p>

<p><strong>Variable Tag</strong></p>

<p>This allows you to denote <var>variables</var>.</p>

<h2>Image Alignment</h2>

<p>Welcome to image alignment! The best way to demonstrate the ebb and flow of the various image positioning options is to nestle them snuggly among an ocean of words. Grab a paddle and let's get started.</p>

<p>On the topic of alignment, it should be noted that users can choose from the options of <em>None</em>, <em>Left</em>, <em>Right, </em>and <em>Center</em>. In addition, they also get the options of <em>Thumbnail</em>, <em>Medium</em>, <em>Large</em> &amp; <em>Fullsize</em>.</p>

<p style="text-align: center;"><img class="size-full aligncenter" title="Image Alignment 580x300" alt="Image Alignment 580x300" src="{{ site.baseurl }}/assets/images/image-alignment-580x300.jpg" width="580" height="300" /></p>
<p>The image above happens to be <em><strong>centered</strong></em>.</p>

<p><strong><img class="size-full alignleft" title="Image Alignment 150x150" alt="Image Alignment 150x150" src="{{ site.baseurl }}/assets/images/image-alignment-150x150.jpg" width="150" height="150" /></strong>The rest of this paragraph is filler for the sake of seeing the text wrap around the 150×150 image, which is <em><strong>left aligned</strong></em>. <strong></strong></p>

<p>As you can see the should be some space above, below, and to the right of the image. The text should not be creeping on the image. Creeping is just not right. Images need breathing room too. Let them speak like you words. Let them do their jobs without any hassle from the text. In about one more sentence here, we’ll see that the text moves from the right of the image down below the image in seamless transition. Again, letting the do it’s thang. Mission accomplished!</p>

<p>And now for a <em><strong>massively large image</strong></em>. It also has <em><strong>no alignment</strong></em>.</p>

<p><img class="alignnone" title="Image Alignment 1200x400" alt="Image Alignment 1200x400" src="{{ site.baseurl }}/assets/images/image-alignment-1200x4002.jpg" width="1200" height="400" /></p>

<p>The image above, though 1200px wide, should not overflow the content area. It should remain contained with no visible disruption to the flow of content.</p>

<p><img class="size-full alignright" title="Image Alignment 300x200" alt="Image Alignment 300x200" src="{{ site.baseurl }}/assets/images/image-alignment-300x200.jpg" width="300" height="200" /></p>

<p>And now we’re going to shift things to the <em><strong>right align</strong></em>. Again, there should be plenty of room above, below, and to the left of the image. Just look at him there… Hey guy! Way to rock that right side. I don’t care what the left aligned image says, you look great. Don’t let anyone else tell you differently.</p>

<p>In just a bit here, you should see the text start to wrap below the right aligned image and settle in nicely. There should still be plenty of room and everything should be sitting pretty. Yeah… Just like that. It never felt so good to be right.</p>

<p>And just when you thought we were done, we’re going to do them all over again with captions!</p>

<figure class="wp-caption aligncenter">
	<img class="size-full" title="Image Alignment 580x300" alt="Image Alignment 580x300" src="{{ site.baseurl }}/assets/images/image-alignment-580x300.jpg" width="580" height="300" />
	<figcaption class="wp-caption-text">Look at 580×300 getting some <a title="Image Settings" href="http://en.support.wordpress.com/images/image-settings/">caption</a> love.</figcaption>
</figure>

<p>The image above happens to be <em><strong>centered</strong></em>. The caption also has a link in it, just to see if it does anything funky.</p>

<figure class="wp-caption alignleft">
	<img class="size-full" title="Image Alignment 150x150" alt="Image Alignment 150x150" src="{{ site.baseurl }}/assets/images/image-alignment-150x150.jpg" width="150" height="150" />
	<figcaption class="wp-caption-text">Itty-bitty caption.</figcaption>
</figure>

<p><strong></strong>The rest of this paragraph is filler for the sake of seeing the text wrap around the 150×150 image, which is <em><strong>left aligned</strong></em>. <strong></strong></p>

<p>As you can see the should be some space above, below, and to the right of the image. The text should not be creeping on the image. Creeping is just not right. Images need breathing room too. Let them speak like you words. Let them do their jobs without any hassle from the text. In about one more sentence here, we’ll see that the text moves from the right of the image down below the image in seamless transition. Again, letting the do it’s thang. Mission accomplished!</p>

<p>And now for a <em><strong>massively large image</strong></em>. It also has <em><strong>no alignment</strong></em>.</p>

<figure class="wp-caption alignnone">
	<img title="Image Alignment 1200x400" alt="Image Alignment 1200x400" src="{{ site.baseurl }}/assets/images/image-alignment-1200x4002.jpg" width="1200" height="400" />
	<figcaption class="wp-caption-text">Massive image comment for your eyeballs.</figcaption>
</figure>

<p>The image above, though 1200px wide, should not overflow the content area. It should remain contained with no visible disruption to the flow of content.</p>

<figure class="wp-caption alignright">
	<img class="size-full" title="Image Alignment 300x200" alt="Image Alignment 300x200" src="{{ site.baseurl }}/assets/images/image-alignment-300x200.jpg" width="300" height="200" />
	<figcaption class="wp-caption-text">Feels good to be right all the time.</figcaption>
</figure>

<p>And now we’re going to shift things to the <em><strong>right align</strong></em>. Again, there should be plenty of room above, below, and to the left of the image. Just look at him there… Hey guy! Way to rock that right side. I don’t care what the left aligned image says, you look great. Don’t let anyone else tell you differently.</p>

<p>In just a bit here, you should see the text start to wrap below the right aligned image and settle in nicely. There should still be plenty of room and everything should be sitting pretty. Yeah… Just like that. It never felt so good to be right.</p>

<p>And that’s a wrap, yo! You survived the tumultuous waters of alignment. Image alignment achievement unlocked!</p>

<h2>Text Alignment</h2>

<h3>Default</h3>

<p>This is a paragraph. It should not have any alignment of any kind. It should just flow like you would normally expect. Nothing fancy. Just straight up text, free flowing, with love. Completely neutral and not picking a side or sitting on the fence. It just is. It just freaking is. It likes where it is. It does not feel compelled to pick a side. Leave him be. It will just be better that way. Trust me.</p>

<h3>Left Align</h3>

<p style="text-align: left;">This is a paragraph. It is left aligned. Because of this, it is a bit more liberal in it’s views. It’s favorite color is green. Left align tends to be more eco-friendly, but it provides no concrete evidence that it really is. Even though it likes share the wealth evenly, it leaves the equal distribution up to justified alignment.</p>

<h3>Center Align</h3>

<p style="text-align: center;">This is a paragraph. It is center aligned. Center is, but nature, a fence sitter. A flip flopper. It has a difficult time making up its mind. It wants to pick a side. Really, it does. It has the best intentions, but it tends to complicate matters more than help. The best you can do is try to win it over and hope for the best. I hear center align does take bribes.</p>

<h3>Right Align</h3>

<p style="text-align: right;">This is a paragraph. It is right aligned. It is a bit more conservative in it’s views. It’s prefers to not be told what to do or how to do it. Right align totally owns a slew of guns and loves to head to the range for some practice. Which is cool and all. I mean, it’s a pretty good shot from at least four or five football fields away. Dead on. So boss.</p>

<h3>Justify Align</h3>

<p style="text-align: justify;">This is a paragraph. It is justify aligned. It gets really mad when people associate it with Justin Timberlake. Typically, justified is pretty straight laced. It likes everything to be in it’s place and not all cattywampus like the rest of the aligns. I am not saying that makes it better than the rest of the aligns, but it does tend to put off more of an elitist attitude.</p>

<h2>Latin Character Tests</h2>

<p>This is a test to see if the fonts used in this theme support basic Latin characters.</p>

<table>
	<tbody>
		<tr>
			<td>!</td>
			<td>&#8220;</td>
			<td>#</td>
			<td>$</td>
			<td>%</td>
			<td>&amp;</td>
			<td>&#8216;</td>
			<td>(</td>
			<td>)</td>
			<td>*</td>
		</tr>
		<tr>
			<td>+</td>
			<td>,</td>
			<td>&#8211;</td>
			<td>.</td>
			<td>/</td>
			<td>0</td>
			<td>1</td>
			<td>2</td>
			<td>3</td>
			<td>4</td>
		</tr>
		<tr>
			<td>5</td>
			<td>6</td>
			<td>7</td>
			<td>8</td>
			<td>9</td>
			<td>:</td>
			<td>;</td>
			<td>&gt;</td>
			<td>=</td>
			<td>&lt;</td>
		</tr>
		<tr>
			<td>?</td>
			<td>@</td>
			<td>A</td>
			<td>B</td>
			<td>C</td>
			<td>D</td>
			<td>E</td>
			<td>F</td>
			<td>G</td>
			<td>H</td>
		</tr>
		<tr>
			<td>I</td>
			<td>J</td>
			<td>K</td>
			<td>L</td>
			<td>M</td>
			<td>N</td>
			<td>O</td>
			<td>P</td>
			<td>Q</td>
			<td>R</td>
		</tr>
		<tr>
			<td>S</td>
			<td>T</td>
			<td>U</td>
			<td>V</td>
			<td>W</td>
			<td>X</td>
			<td>Y</td>
			<td>Z</td>
			<td>[</td>
			<td></td>
		</tr>
		<tr>
			<td>]</td>
			<td>^</td>
			<td>_</td>
			<td>`</td>
			<td>a</td>
			<td>b</td>
			<td>c</td>
			<td>d</td>
			<td>e</td>
			<td>f</td>
		</tr>
		<tr>
			<td>g</td>
			<td>h</td>
			<td>i</td>
			<td>j</td>
			<td>k</td>
			<td>l</td>
			<td>m</td>
			<td>n</td>
			<td>o</td>
			<td>p</td>
		</tr>
		<tr>
			<td>q</td>
			<td>r</td>
			<td>s</td>
			<td>t</td>
			<td>u</td>
			<td>v</td>
			<td>w</td>
			<td>x</td>
			<td>y</td>
			<td>z</td>
		</tr>
		<tr>
			<td>{</td>
			<td>|</td>
			<td>}</td>
			<td>~</td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
			<td></td>
		</tr>
	</tbody>
</table>
