input {
	font: inherit;
	font: 13px/1.4 Helvetica, arial, nimbussansl, liberationsans, freesans, clean, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
	margin: 0;
	overflow: visible;
}

[type="checkbox"] {
	box-sizing: border-box;
	padding: 0;
}
