img {
	background-color: #fff;
	border-style: none;
	box-sizing: content-box;
	max-width: 100%;
	height: auto;

	&[align="right"] {
		padding-left: 20px;
	}

	&[align="left"] {
		padding-right: 20px;
	}

}

.alignleft {
	float: left;
	margin: 0.375em 1.75em 1.75em 0;
}

.alignright {
	float: right;
	margin: 0.375em 0 1.75em 1.75em;
}

.aligncenter {
	clear: both;
	display: block;
	margin: 0 auto 1.75em;
}

svg:not(:root) {
	overflow: hidden;
}

figure {
	max-width: 100%;
}
