img {
	background-color: #fff;
	border-style: none;
	box-sizing: content-box;
	max-width: 100%;
	height: auto;

	&[align="right"] {
		padding-left: 20px;
	}

	&[align="left"] {
		padding-right: 20px;
	}

}

svg:not(:root) {
	overflow: hidden;
}

figure {
	max-width: 100%;
}
