
.markdown-body a:not([href]) {
	color: inherit;
	text-decoration: none;
}
.markdown-body .absent {
	color: #c00;
}
.markdown-body .anchor {
	float: left;
	line-height: 1;
	margin-left: -20px;
	padding-right: 4px;
}
.markdown-body .anchor:focus {
	outline: medium none;
}

.markdown-body ul.no-list,
.markdown-body ol.no-list {
	list-style-type: none;
	padding: 0;
}

.markdown-body li + li {
	margin-top: 0.25em;
}

.markdown-body img[align="right"] {
	padding-left: 20px;
}
.markdown-body img[align="left"] {
	padding-right: 20px;
}
.markdown-body .emoji {
	background-color: transparent;
	max-width: none;
	vertical-align: text-top;
}
.markdown-body span.frame {
	display: block;
	overflow: hidden;
}
.markdown-body span.frame > span {
	border: 1px solid #ddd;
	display: block;
	float: left;
	margin: 13px 0 0;
	overflow: hidden;
	padding: 7px;
	width: auto;
}
.markdown-body span.frame span img {
	display: block;
	float: left;
}
.markdown-body span.frame span span {
	clear: both;
	color: #333;
	display: block;
	padding: 5px 0 0;
}
.markdown-body span.align-center {
	clear: both;
	display: block;
	overflow: hidden;
}
.markdown-body span.align-center > span {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: center;
}
.markdown-body span.align-center span img {
	margin: 0 auto;
	text-align: center;
}
.markdown-body span.align-right {
	clear: both;
	display: block;
	overflow: hidden;
}
.markdown-body span.align-right > span {
	display: block;
	margin: 13px 0 0;
	overflow: hidden;
	text-align: right;
}
.markdown-body span.align-right span img {
	margin: 0;
	text-align: right;
}
.markdown-body span.float-left {
	display: block;
	float: left;
	margin-right: 13px;
	overflow: hidden;
}
.markdown-body span.float-left span {
	margin: 13px 0 0;
}
.markdown-body span.float-right {
	display: block;
	float: right;
	margin-left: 13px;
	overflow: hidden;
}
.markdown-body span.float-right > span {
	display: block;
	margin: 13px auto 0;
	overflow: hidden;
	text-align: right;
}
.markdown-body code,
.markdown-body tt {
	background-color: rgba(0, 0, 0, 0.04);
	border-radius: 3px;
	font-size: 85%;
	margin: 0;
	padding: 0.2em 0;
}
.markdown-body code::before, .markdown-body code::after, .markdown-body tt::before, .markdown-body tt::after {
	content: " ";
	letter-spacing: -0.2em;
}
.markdown-body code br, .markdown-body tt br {
	display: none;
}
.markdown-body del code {
	text-decoration: inherit;
}
.markdown-body pre {
	word-wrap: normal;
}
.markdown-body pre > code {
	background: transparent none repeat scroll 0 0;
	border: 0 none;
	font-size: 100%;
	margin: 0;
	padding: 0;
	white-space: pre;
	word-break: normal;
}
.markdown-body .highlight {
	margin-bottom: 16px;
}
.markdown-body .highlight pre {
	margin-bottom: 0;
	word-break: normal;
}
.markdown-body .highlight pre, .markdown-body pre {
	background-color: #f7f7f7;
	border-radius: 3px;
	font-size: 85%;
	line-height: 1.45;
	overflow: auto;
	padding: 16px;
}
.markdown-body pre code, .markdown-body pre tt {
	background-color: transparent;
	border: 0 none;
	display: inline;
	line-height: inherit;
	margin: 0;
	overflow: visible;
	padding: 0;
	word-wrap: normal;
}
.markdown-body pre code::before, .markdown-body pre code::after, .markdown-body pre tt::before, .markdown-body pre tt::after {
	content: normal;
}
